* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.main{
    height: 221vh;
    background-color: #141414;
}
.trailer {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Background\ \(18\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 150px;
    height: 60px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.027);
}

.other {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.imm {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

ion-icon {
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.lo {
    width: 500px;
}

.deals {
    padding: 10px;
    height: auto;
    width: 600px;
    margin-top: 100px;
    margin-left: 50px;
}

.play {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.Moreinfo {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.185);
    cursor: pointer;
}
.btns{
    width: 100%;
    margin-top: 10px;
}
.movieko{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
}
.shows{
    height: 100vh;
}
.lists{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
}
.realshows{
    margin-left: 50px;
    height: 250px;
}
.movies{
    margin-top: 10px;
    height: 203px;
    display: flex;
}
.bollywood{
    width: 300px;
    height: 155px;
    padding: 3px;
    border-radius: 9px;
}